 # Using Skeleton styling boilerplate, important to use div tags with relevant classes
 <div class="container">
  <div class="row">

  <%= form_with(model: listing) do |form| %>
    <% if listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
          <% listing.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    # Form for creating a listing, with fields required and relevant entry data type
    <div class="u-full-width">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :author %>
        <%= form.text_field :author %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.rich_text_area :description %>
      </div>

      # Ruby tags used to write logic for displaying the condtion options in the defined format
      <div class="field">
        <% @conditions.each do |option| %>
        <%= form.label :condition, format_condition(option) %>
        <%= form.radio_button :condition, option %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price %>
      </div>

      # Ruby tags used to write logic for displaying the categories 
      <div class="field">
        <%= form.label :category_id %>
        <%= form.select :category_id, @categories.map {|c| [c.name, c.id]} %>
      </div>

      # Ruby tags used to include the ability to upload image in defined formats
      <div class="field">
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: "image/png,image/jpg,image/jpeg" %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>
</div>
