<%= link_to "ðŸ¡", root_path %>
<%= link_to "Listings", listings_path, class: "button"  %>

<span>
  <%= link_to "Bought Items", orders_bought_path, class: "button" %>
  <%= link_to "Sold Items", orders_sold_path, class: "button" %>
  <%= render 'search/form' %>
</span>

<span style="float: right">
<% if account_signed_in? %>
    <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "button button-primary" %>
<% else %>
    <%= link_to "Sign up", new_account_registration_path, class: "button button-primary" %>
    <%= link_to "Sign in", new_account_session_path, class: "button button-primary" %>
<% end %>
</span>